{% extends 'base.html' %}

{% block title %}
    Update {{nama}}
{% endblock title %}


{% block content %}
    <!-- PANEL HEADLINE -->
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">Panel Headline</h3>
            <p class="panel-subtitle">Panel to display most important information</p>
        </div>
        <div class="panel-body">
            <h4>Panel Content</h4>
            
            {% if nama == 'voting' %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{form.namavoting.id_for_label}}">Nama Voting</label>
                        <input type="text" class="form-control" name="{{form.namavoting.name}}" maxlength="{{form.namavoting.max}}" 
                        id="{{formgrup.namavoting.id_for_label}}" required value="{{form.namavoting.value}}" placeholder="Masukan namavoting">
                    </div>
                    <div class="form-group">
                        <label for="{{form.deskripsi.id_for_label}}">{{form.deskripsi.label}}</label>
                        <textarea name="{{form.deskripsi.name}}" id="{{form.deskripsi.id_for_label}}" class="form-control" rows="3">{{form.deskripsi.value}}</textarea>
                    </div>
                    <input type="hidden" name="{{form.user.name}}" value="{{form.user.value}}">
                    <div class="modal-footer">
                        <a href="{% url 'e_admin:list' %}" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <button type="submit" name="updatevoting" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
                
            {% elif nama == 'grup' %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{form.group_name.id_for_label}}">{{form.group_name.label}}</label>
                        <input type="text" class="form-control" name="{{form.group_name.name}}" maxlength="{{form.group_name.max}}" 
                        id="{{form.group_name.id_for_label}}" value="{{form.group_name.value}}" required placeholder="Masukan group_name">
                    </div>
                    <input type="hidden" name="{{form.voting.name}}" value="{{form.voting.value}}">
                    <div class="modal-footer">
                        <a href="{% url 'e_admin:list' %}" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <button type="submit" name="updategrup" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            
            {% elif nama == 'kandidat' %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>

                        {{form.as_table}}
                    </table>
                    <div class="modal-footer">
                        <a href="{% url 'e_admin:list' %}" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <button type="submit" name="updatekandidat" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            {% endif %}
                
        </div>
    </div>
    <!-- END PANEL HEADLINE -->
{% endblock content %}
    
    