{% load static %}

<!-- Javascript -->
	<script src="{% static 'klorofil/assets/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'klorofil/assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'klorofil/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'klorofil/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
	<script src="{% static 'klorofil/assets/vendor/chartist/js/chartist.min.js' %}"></script>
	<script src="{% static 'klorofil/assets/scripts/klorofil-common.js' %}"></script>
